
* {
    
	box-sizing:border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #054d77;
  overflow-y: scroll;	
  user-select:none;

}

	

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
}

svg path{
	animation:pathAnim 7s;
	animation-timing-function: linear;
	animation-iteration-count:infinite;
}

svg path:nth-child(2){
	animation-delay: 1s;
}
svg path:nth-child(3){
	animation-delay: 3s;
}
svg path:nth-child(4){
	animation-play-state:unpaused;
}
@keyframes pathAnim{
	
	0%{
		d: path("M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500");
	}
	25%{
		d: path("M0,100 C220,100,440,292,660,292 C880,292,1100,100,1320,100 L1320 500 L0 500");
	}
	50%{
		d: path("M0,192 C220,290,440,290,660,192 C880,100,1100,100,1320,192 L1320 500 L0 500");
	}
	25%{
		d: path("M0,292 C220,292,440,100,660,100 C880,100,1100,292,1320,292 L1320 500 L0 500");
	}
	100%{
		d: path("M0,192 C220,100,440,100,660,192 C880,290,1100,290,1320,192 L1320 500 L0 500");
	}
}

scroll {
  overflow-y: scroll;
  
}

scroll::-webkit-scrollbar {
  display: none;
}

scroll {
  -ms-overflow-style:smooth;
  
}

.title {
	font-weight: bold;
}

/** HEADER **/

header {
  margin-top: -10px;
  background-image:url('.gif');
  padding: 40px;
  text-align: center;
  color: white;
  border: hidden solid 1px black;
  border-radius: 20px;
  font-size:2rem;
}

box {
	background-color: green;
	padding: 5px;
}

.responsive {
  max-width: 100;
  height: auto;
}


hr.space {
  border: 3px hidden;
}

hr.new {
	border: inset 1.3px black;
	background-color: black;
}

/*** MENU NAVBAR **/

ul.tab {
    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding: 7px;
    overflow: hidden;
    border:  hidden;
    border-radius: 10px;
    background-color: black;
	align-items: center;

}

ul.tab li {float: left;}

ul.tab li a {
	align-content: center;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 24px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 15px;
    border-radius: 8px;

	
}

ul.tab li a:hover {background-color: #6F8FAF;}

ul.tab li a:focus, .active {background-color: #AF6F7E;}

.tabcontent {
    display: none;
    padding: 8px 12px;
    border: hidden;
    border-radius: 10px;  
	
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 black;
}


#clouds {
    margin-top: -10%;
    position: relative;
    z-index: 1;
}

    #clouds path {
        fill: black;
        bottom: 10px;
        overflow: hidden;
        stroke: #212121;
    }

/** ARTICLE | CONTENT **/

article {
  background-color: black;
  padding: 15px;
  color: white;
  border: hidden solid 1px #1b1b1b;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 15px 0 #000000;
}

/** PROGRESS BARR **/

table {
  border: 0px solid #1B1B1B;
  border-collapse: collapse;
  margin: 0;
  padding: 2px;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 1px solid #1B1B1B;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #1B1B1B;
    display: block;
    font-size: .8em;
    text-align: left;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
.meter {
  box-sizing: content-box;
  width: 150px;
  height: 15px; 
  position: relative;
  background: #212121;
  border-radius: 35px;
  padding: 8px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  font-size: 24px;
  font-weight: bold;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #2bd3c2;
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.meter > span:after,
.animate > span > span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px ;
  animation: move 3s linear infinite;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-image: linear-gradient(#f1a165, #f36d0a);
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.purple > span {
  background-image: linear-gradient(#D90BE1, #EBBEED);
}

.green > span {
  background-image: linear-gradient(#36DA11, #B4E99F);
}

.black > span {
	background-image: linear-gradient(#454545, #ffffff);
}


.nostripes > span > span,
.nostripes > span::after {
  background-image: none;
}

mark {
	 border: solid 4px #373737;
	 background-color: #373737;
	 color: white;
	 text-align: center;
	 padding: 9px;
	
}

.card {
 
  background-color: #3F3F3F;
  color: white;
  transition: transform .5s;
  text-align: center;
  border-radius: 20px;
  
}
.cardresponsive {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 white;
  
}

.container {
  padding: 7px 7px;
  text-align: center;
}

/** PROJECT **/

.accresponsive {
	max-width: 150px;
    height: auto;
	box-shadow: 0 8px 16px 0 black;
}
	
.gresponsive {
	max-width: 150px;
    height: auto;
	box-shadow: 0 6px 8px 0 black;
}	
.sresponsive {
	max-width: 155px;
    height: auto;
	box-shadow: 0 6px 8px 0 black; 
	}

.accordion {
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 17px;
  width: 100%;
  border: none;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  box-shadow: 0 0 7px 0 black;
  text-align: center;
  
  font-size: 15px;
  transition: 1s;
}

.accordion:hover {
  background-color: #ccefff;
}

.active.accresponsive:hover {
	background-color: #AF6F7E;
}

.panel {
  padding: 0 18px;
  background-color: #6F8FAF;
  max-height: 0;
  overflow: hidden;
  transition: max-height 3s ease-out;
  border: none;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px; 
}

.calresponsive {
    max-width: 64%;
    height: auto;
    box-shadow: 0 6px 10px 0 black;
}


/** SOCIAL MEDIA ICON **/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 10px 6px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.3;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-github {
  background: #000000;
  color: white;
  
}


.fa-stack-overflow {
  background: #000000;
  color: white;
}

/**  FOOTERR  **/

footer {
  background-image: url('images/gif.gif');
  padding: 15px;
  text-align: center;
  color: white;
  border: solid 1px black;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 #000000;
}

/*--------------Navbar--------- */
/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}

/*--------*/
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: teal;
 color: #fff;
}
.nav-links a {
 color: #fff;
}
/* LOGO */
.logo {
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #4c9e9e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: rgb(1, 139, 139);
 padding: 1em 0;
 position: absolute; /*WITH RESPECT TO PARENT*/
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
.services:hover .dropdown {
 display: block;
}


/*------*/
/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
 display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
 display: none;
 font-size: 24px;
 user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
.menu { 
 display:none;
 position: absolute;
 background-color:teal;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}
.menu li:hover {
 display: inline-block;
 background-color:#4c9e9e;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
 display: block;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: #4c9e9e;
}
}